## Project 4: Flood Relevance DataFrame

Run data: 4/13/2019

This notebook is to import the dataset of 1000 posts and export the dataset with completed classified values on the column, flood_relevance.  The resulted dataset will be saved as a csv form.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# import raw dataset into DataFrame 
df = pd.read_csv('../datasets/floods.csv')

df.head()

,content,description,publishedAt,title,source_name,flood_relevance
0,Chat with us in Facebook Messenger. Find out w...,A pair of environmental reports reveal the wor...,2019-01-16T22:52:24Z,Melting ice could flood Brooklyn Bridge,CNN,0
1,The aid group said it had seen hundreds of cas...,With vast areas submerged by contaminated wate...,2019-03-27T15:49:20Z,Cholera Outbreak Raises New Danger in Flood-Ra...,The New York Times,0
2,Finding settings that amplify an operas drama ...,"From left: Kristine Flood, Wanda Ferrerias, Ma...",2018-12-04T17:05:05Z,"After Struggling With Homelessness, a Chorus S...",The New York Times,0
3,"The amount the ground can soak up is limited, ...","Flooding in the town of Hamburg, Iowa, on Marc...",2019-04-08T20:58:04Z,Powerful Storm Threatens More Misery in Flood-...,The New York Times,0
4,"Many of the levees, usually earthen and topped...",Hundreds of miles of levees in the Midwest hav...,2019-03-31T09:00:10Z,"‘Breaches Everywhere’: Midwest Levees Burst, a...",The New York Times,0

In [3]:
# Check how many observations and columns
df.shape

(1000, 6)

In [4]:
# Print all column names from the DataFrame
df.columns

Index(['content', 'description', 'publishedAt', 'title', 'source_name',
       'flood_relevance'],
      dtype='object')

In [5]:
# Create a function to read content, description, and title at once for each article
def read_this(k):
    print(df.iloc[k]['content'])
    print(df.iloc[k]['description'])
    print(df.iloc[k]['title'])

In [6]:
# Change value k and read the associated article manually
k = 150
read_this(k)

Several people in her community did lose everything, and are sleeping in a local church, relying on donations to eat, she said.
Its complete chaos here, she said. We are really scared, we dont know how to defend ourselves. These wild animals are totally free now, they could attack us. We dont know if theyre hungry, what their reaction will be if we see them.
She dismissed the governments explanation for why officials did not enter the favela, saying that the mayor himself had been there this year, making promises to improve their lives. Others echoed her on social media, poking fun at the city officials excuse that the neighborhood was too dangerous to enter.
Only if the criminals are on boats, a Facebook user named Vinícius Melo Abade wrote beneath a post on the floods.
Only if the crocodiles themselves are armed, wrote another user, Aline Taylor
Ricardo Freitas, a local biologist who has been studying crocodilians in Rio de Janeiro State for 17 years, was not surprised by the existence of a caiman farm inside a favela. People illegally breed caimans across the city to sell to restaurants, he said.
He also suggested that criminals sometimes use the animals to scare kidnapping victims, though there is no evidence that was the case in Favela da Rola.
Mr. Freitas, who dedicates some of his time to rescuing caimans, said that the creatures do not prey on people, but could eat pets. He said there are around 8,000 broad-snouted caimans, the most common species in Rio, in the citys western zone.
It sounds like movie stuff, he said. But its a surreal reality in Rio de Janeiro.
A bus crushed by a fallen tree in a flooded area in Rio de Janeiro. Floods knocked down the walls of a caiman farm, and local residents saw the creatures roaming in the streets.
Flood Freed Gators in Rio Neighborhood. Officials Said It Was Too Dangerous to Help.

In [6]:
# Display first 5 rows of the DataFrame
df.head()

,content,description,publishedAt,title,source_name,flood_relevance
0,Chat with us in Facebook Messenger. Find out w...,A pair of environmental reports reveal the wor...,2019-01-16T22:52:24Z,Melting ice could flood Brooklyn Bridge,CNN,0
1,The aid group said it had seen hundreds of cas...,With vast areas submerged by contaminated wate...,2019-03-27T15:49:20Z,Cholera Outbreak Raises New Danger in Flood-Ra...,The New York Times,0
2,Finding settings that amplify an operas drama ...,"From left: Kristine Flood, Wanda Ferrerias, Ma...",2018-12-04T17:05:05Z,"After Struggling With Homelessness, a Chorus S...",The New York Times,0
3,"The amount the ground can soak up is limited, ...","Flooding in the town of Hamburg, Iowa, on Marc...",2019-04-08T20:58:04Z,Powerful Storm Threatens More Misery in Flood-...,The New York Times,0
4,"Many of the levees, usually earthen and topped...",Hundreds of miles of levees in the Midwest hav...,2019-03-31T09:00:10Z,"‘Breaches Everywhere’: Midwest Levees Burst, a...",The New York Times,0

In [8]:
# import dataset that contains only two columns, ken_index and ken_flood_relevance
df_flood_relevance = pd.read_csv('../datasets/arts_flood_relevance_Ken.csv')

In [8]:
# df_flood_relevance.columns

In [10]:
df_flood_relevance.drop(columns=['Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4'], inplace=True)

In [11]:
df_flood_relevance.head()

   ken_index  ken_flood_relevance
0          0                    0
1          1                    0
2          2                    0
3          3                    1
4          4                    0

In [12]:
df_flood_relevance.shape

(1000, 2)

In [13]:
df_flood_relevance.isnull().sum()

ken_index              0
ken_flood_relevance    0
dtype: int64

In [14]:
df_flood_relevance['ken_flood_relevance'].value_counts()

0      634
1      365
150      1
Name: ken_flood_relevance, dtype: int64

In [15]:
df_flood_relevance.iloc[150]

ken_index              150
ken_flood_relevance    150
Name: 150, dtype: int64

In [16]:
read_this(150)

Several people in her community did lose everything, and are sleeping in a local church, relying on donations to eat, she said.
Its complete chaos here, she said. We are really scared, we dont know how to defend ourselves. These wild animals are totally free now, they could attack us. We dont know if theyre hungry, what their reaction will be if we see them.
She dismissed the governments explanation for why officials did not enter the favela, saying that the mayor himself had been there this year, making promises to improve their lives. Others echoed her on social media, poking fun at the city officials excuse that the neighborhood was too dangerous to enter.
Only if the criminals are on boats, a Facebook user named Vinícius Melo Abade wrote beneath a post on the floods.
Only if the crocodiles themselves are armed, wrote another user, Aline Taylor
Ricardo Freitas, a local biologist who has been studying crocodilians in Rio de Janeiro State for 17 years, was not surprised by the existence of a caiman farm inside a favela. People illegally breed caimans across the city to sell to restaurants, he said.
He also suggested that criminals sometimes use the animals to scare kidnapping victims, though there is no evidence that was the case in Favela da Rola.
Mr. Freitas, who dedicates some of his time to rescuing caimans, said that the creatures do not prey on people, but could eat pets. He said there are around 8,000 broad-snouted caimans, the most common species in Rio, in the citys western zone.
It sounds like movie stuff, he said. But its a surreal reality in Rio de Janeiro.
A bus crushed by a fallen tree in a flooded area in Rio de Janeiro. Floods knocked down the walls of a caiman farm, and local residents saw the creatures roaming in the streets.
Flood Freed Gators in Rio Neighborhood. Officials Said It Was Too Dangerous to Help.

In [17]:
ken_flood_relevance_concat = pd.concat([df, df_flood_relevance],axis=1)

In [18]:
ken_flood_relevance_concat['ken_flood_relevance'][150] = 1

/Users/kennethlee/anaconda3/envs/dsi/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
ken_flood_relevance_concat.iloc[150]

content                Several people in her community did lose every...
description            A bus crushed by a fallen tree in a flooded ar...
publishedAt                                         2019-04-10T21:27:52Z
title                  Flood Freed Gators in Rio Neighborhood. Offici...
source_name                                           The New York Times
flood_relevance                                                        0
ken_index                                                            150
ken_flood_relevance                                                    1
Name: 150, dtype: object

In [20]:
ken_flood_relevance_concat['ken_flood_relevance'].value_counts()

0    634
1    366
Name: ken_flood_relevance, dtype: int64

In [21]:
ken_flood_relevance_concat.shape

(1000, 8)

In [22]:
ken_flood_relevance_concat.head()

,content,description,publishedAt,title,source_name,flood_relevance,ken_index,ken_flood_relevance
0,Chat with us in Facebook Messenger. Find out w...,A pair of environmental reports reveal the wor...,2019-01-16T22:52:24Z,Melting ice could flood Brooklyn Bridge,CNN,0,0,0
1,The aid group said it had seen hundreds of cas...,With vast areas submerged by contaminated wate...,2019-03-27T15:49:20Z,Cholera Outbreak Raises New Danger in Flood-Ra...,The New York Times,0,1,0
2,Finding settings that amplify an operas drama ...,"From left: Kristine Flood, Wanda Ferrerias, Ma...",2018-12-04T17:05:05Z,"After Struggling With Homelessness, a Chorus S...",The New York Times,0,2,0
3,"The amount the ground can soak up is limited, ...","Flooding in the town of Hamburg, Iowa, on Marc...",2019-04-08T20:58:04Z,Powerful Storm Threatens More Misery in Flood-...,The New York Times,0,3,1
4,"Many of the levees, usually earthen and topped...",Hundreds of miles of levees in the Midwest hav...,2019-03-31T09:00:10Z,"‘Breaches Everywhere’: Midwest Levees Burst, a...",The New York Times,0,4,0

In [23]:
ken_flood_relevance_concat.columns

Index(['content', 'description', 'publishedAt', 'title', 'source_name',
       'flood_relevance', 'ken_index', 'ken_flood_relevance'],
      dtype='object')

In [24]:
ken_flood_relevance_concat['flood_relevance'] = ken_flood_relevance_concat['ken_flood_relevance']

In [25]:
ken_flood_relevance_concat.head()

,content,description,publishedAt,title,source_name,flood_relevance,ken_index,ken_flood_relevance
0,Chat with us in Facebook Messenger. Find out w...,A pair of environmental reports reveal the wor...,2019-01-16T22:52:24Z,Melting ice could flood Brooklyn Bridge,CNN,0,0,0
1,The aid group said it had seen hundreds of cas...,With vast areas submerged by contaminated wate...,2019-03-27T15:49:20Z,Cholera Outbreak Raises New Danger in Flood-Ra...,The New York Times,0,1,0
2,Finding settings that amplify an operas drama ...,"From left: Kristine Flood, Wanda Ferrerias, Ma...",2018-12-04T17:05:05Z,"After Struggling With Homelessness, a Chorus S...",The New York Times,0,2,0
3,"The amount the ground can soak up is limited, ...","Flooding in the town of Hamburg, Iowa, on Marc...",2019-04-08T20:58:04Z,Powerful Storm Threatens More Misery in Flood-...,The New York Times,1,3,1
4,"Many of the levees, usually earthen and topped...",Hundreds of miles of levees in the Midwest hav...,2019-03-31T09:00:10Z,"‘Breaches Everywhere’: Midwest Levees Burst, a...",The New York Times,0,4,0

In [26]:
ken_flood_relevance_concat['flood_relevance'].value_counts()

0    634
1    366
Name: flood_relevance, dtype: int64

In [27]:
ken_flood_relevance_concat.drop(columns=['ken_index', 'ken_flood_relevance'],inplace=True)

In [28]:
ken_flood_relevance_concat.shape

(1000, 6)

In [29]:
# Exports files to csv format
ken_flood_relevance_concat.to_csv('../datasets/floods_relevance.csv', 
                                  index=False)